<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- head 내용은 여기에 위치합니다. -->
    <!-- ... -->

    <title>비밀번호찾기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <style>
        h2 {
            text-align: center;
            font-size: 20px;
        }

        body {
            padding: 20px;
            margin: 0px;
            background-color:beige;
        }
        .sum-btn{
            background-color:white;
            max-width: 100%; /* 부모의 최대 너비만큼만 가로폭을 가짐 */
            width: auto; /* 내용에 맞게 자동으로 너비 조절 */
        }

        .sum-btn:hover {
            background-color: black;
            color: white;
        }

        .next-btn {
           background:white;
           color:black;
           border:solid 2px black;
        }

        /* 다음 버튼에 적용되는 스타일 */
        .next-btn:hover {
            background-color: black;
            color: white;

        }
        .reset-btn {
           background:white;
           color:black;
           border:solid 2px black;
        }
        .reset-btn:hover{
             background-color: black;
            color: white;
        }
        /* 간격을 조절하기 위해 body에 패딩을 추가합니다. */
    </style>
</head>
<body class="m-0 p-0">
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="/">맛집리스트</a>
    </div>
</nav>
<section style="width: 1669px;">
    <div class="container my-0 mx-auto"
         style="width: 50%;height: 863px; border-right: solid; border-left: solid;background: white;    position: relative;left:8%;">
        <form th:action="@{/member/findPasswordPhone}" method="post"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
            <div class="main-form" style="padding: 54px;">
                <h2>비밀번호 찾기</h2>
                <div style="text-align: center;margin-top: 11%; padding-bottom: 3%;font-weight: bold; ">휴대전화번호로 찾기</div>
                <input type="hidden" name="verificationCodeSentPhone" th:value="${verificationCodeSentPhone}"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <input type="hidden" name="verificationCodePhone" th:value="${verificationCodePhone}"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <div class="mb-3">
                    <div class="col-md-13 text-md-center">
                        <label for="memberId" class="form-label">비밀번호를 찾으려는 아이디</label>
                    </div>
                    <div class="col-md-2 mx-auto">
                        <input type="text" name="memberId" id="memberId" class="form-control" required
                               th:value="${memberId}" style="border-radius: 0px;"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                    </div>
                </div>
                <!-- 메시지를 표시하는 부분 -->
                <div th:if="${message}" class="row mt-3">
                    <div class="col-md-12 text-center">
                        <p th:text="${message}"></p>
                    </div>
                </div>
                <div th:unless="${verificationCodeSentPhone}" class="text-md-center"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                    <!-- 다음 버튼을 누르면 인증번호 입력란과 인증번호가 전송이됩니다. -->
                    <button type="submit" class="next-btn">다음</button>
                </div>
                <!-- 두번쨰 폼 시작 -->
                <div th:if="${verificationCodeSentPhone}"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                    <div class="mb-3">
                        <div class="col-md-6 text-md-end" style="margin-left:25px;">
                            <label for="verificationCodePhone" class="form-label">인증번호</label>
                        </div>
                        <div class="col-md-2 mx-auto">
                            <input type="password" name="inputVerificationCodePhone" id="verificationCodePhone"
                                   class="form-control"
                                   th:value="${param.inputVerificationCodePhone}" style="border-radius: 0px;">
                        </div>
                        <!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                        <!-- 인증코드와 사용자 입력코드와 일치해야하기때문에 이렇게 조건을걸었습니다.-->
                    </div>
                </div>
                <div th:if="${verificationCodeSentPhone}" th:unless="${verificationCodeValidPhone}"
                     class="text-md-center"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                    <button type="submit" class="next-btn" style="">다음</button>
                </div>
                <!-- 수정: 새로운 비밀번호 입력 폼 -->
            </div>
        </form>
        <!--  인증번호 재전송 폼입니다. 두번쨰폼열릴때 같이 열립니다.-->
        <div th:if="${verificationCodeSentPhone}"><!--  조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
            <form th:action="@{/member/resendVerificationCodePhone}" method="post">
                <input type="hidden" name="verificationCodeSentPhone" th:value="${verificationCodeSentPhone}"><!-- 2번째 폼 데이터! 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <input type="hidden" name="verificationCodePhone" th:value="${verificationCodePhone}"><!-- 인증번호 데이터 ! 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <input type="hidden" name="resendVerificationCodePhone"
                       th:value="${resendVerificationCodePhone}"><!--재전송데이터! 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <input type="hidden" name="verificationCodeValidPhone"
                       th:value="${verificationCodeValidPhone}"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <input type="hidden" name="memberId" th:value="${memberId}">
                <!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <div style="position:relative; width: 182px; left: 60%; bottom: 136px;">
                    <button class="sum-btn" style=" padding: 4px;">인증번호 재전송</button>
                </div>

            </form>
        </div>
        <!-- 3번쨰 폼 위조건이 충족할때 재설정폼이 열립니다. -->
        <!-- 비밀번호 재설정폼 -->
        <form th:action="@{/member/passwordResetPhone}" method="post"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
            <input type="hidden" name="memberId" th:value="${memberId}"><!-- 아이디 데이터 !조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
            <input type="hidden" name="verificationCodePhone" th:value="${verificationCodePhone}"><!-- 인증번호 데이터 !조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
            <input type="hidden" name="verificationCodeValidPhone" th:value="${verificationCodeValidPhone}"><!-- 3번째 폼 데이터~!조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
            <div th:if="${verificationCodeValidPhone}"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                <div class="mb-3">
                    <div class="col-md-12 text-center">
                        <label for="newPassword" class="form-label">새로운 비밀번호</label>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <input type="password" name="newPassword" id="newPassword" style="border-radius: 0px;"
                               class="form-control" required
                               th:value="${newPassword}"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                    </div>
                    <div class="col-md-12 text-center">
                        <label for="newPassword1" class="form-label">비밀번호 확인</label>
                    </div>
                    <div class="col-md-3 mx-auto">
                        <input type="password" name="newPassword1" id="newPassword1" style="border-radius: 0px;"
                               class="form-control" required
                               th:value="${newPassword1}">
                    </div>
                </div>
                <!-- 비밀번호 확인 불일치 시 메시지를 표시 -->
                <div class="col-md-12 text-center"
                     th:if="${not #strings.equals(newPassword, newPassword1)}"><!-- 조건걸어서 폼열리는구조라 왠만하면 그대로 가져가주세요..-->
                    <p class="text-danger">비밀번호가 일치하지 않습니다.</p>
                </div>
                <div class="text-md-center">
                    <button type="submit" class="reset-btn" onclick="finalFunction()">비밀번호
                        재설정
                    </button>
                </div>

            </div>

        </form>

    </div>
</section>


<!-- JavaScript 코드 -->
<!-- 추가: 비밀번호 재설정 성공 시 alert와 페이지 이동을 위한 스크립트 -->
<!-- 스크립트는 자유롭게 수정해도 상관없습니다.-->
<!-- 스크립트 실행 확인 및 메시지 보여주기 -->
<script th:if="${showConfirmationScript}" th:inline="javascript">
    console.log('스크립트 실행 확인');

    var userPhone = /*[[@{${userPhone}}]]*/ ''; // 사용자 휴대전화 번호가 변수에 있다고 가정

    alert('인증번호가 휴대전화로 전송되었습니다. 인증번호를 확인해주세요.\n휴대전화: ' + userPhone);
</script>
<!-- JavaScript 코드 -->
<!-- 추가: 비밀번호 재설정 성공 시 alert와 페이지 이동을 위한 스크립트 -->
<script th:if="${param.resetSuccess}">
    console.log('스크립트 실행 확인');
    alert('비밀번호가 성공적으로 재설정되었습니다.');
    // 비밀번호 재설정 후 로그인 폼으로 이동
    window.location.href = '/member/login';
</script>
</body>
</html>
