<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호찾기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <style>
        h2 {
            text-align: center;
            font-size: 20px;
        }

        body {
            padding: 20px;
        }
        .reset-btn{
           background:white;
           color:black;
           border:solid 2px black;
        }
        .reset-btn:hover{
             background-color: black;
            color: white;
        }



/* 간격을 조절하기 위해 body에 패딩을 추가합니다. */
    </style>
</head>
<body>
<body class="m-0 p-0" style="background:beige;">
<!-- 네비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="/">맛집리스트</a>
    </div>
</nav>
<div class="container-max-width" style="margin-left: auto;margin-right: auto;border-left: solid;border-right: solid;width: 70%;height: 863px; background: white;">
    <h2>아이디 찾기</h2>
    <!-- 이메일 입력 폼 -->
    <form th:action="@{/member/sendVerificationCode}" id="emailForm" class="mt-5 text-center" method="post">
        <input type="hidden" name="findCommon" value="findId">
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <div>
                    <label for="email" class="mr-2" style="display:block; margin-right:200px;">이메일</label>
                </div>
                <input type="email" id="email" name="email" class="form-control"
                       style="width: 200px; display:inline-block; border-radius: 0px;"
                       required th:value="${email}">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="submit" id="verificationCodeButton" class="reset-btn"
                            formaction="/member/sendVerificationCode">인증요청
                    </button>
                </div>
            </div>
        </div>
    </form>

    <!-- 인증 코드 입력 폼 -->
    <form th:action="@{/member/findId}" method="post" class="mt-5 text-center" th:if="${verificationCodeForm}">
        <input type="hidden" name="verificationCodeForm" th:value="${verificationCodeForm}">
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <label for="verificationCode" class="mr-2">인증 코드:</label>
                <input type="text" id="verificationCode" name="verificationCode" class="form-control"
                       style="width: 200px; border-radius: 0px;"
                       required>
                <button type="submit" class="reset-btn" style="margin-top:20px;">아이디 찾기</button>
            </div>
        </div>
    </form>
    <!-- 아이디 찾기 결과가 있을 때에만 보여줌 -->
    <div th:if="${verificationCodeMismatch != null and verificationCodeMismatch != true}" class="mt-3"
         style="margin-left: 30%; margin-right: 30%; overflow: hidden;">
        <!-- 마진과 디스플레이로 간격을 조정해놈  -->
        <div class="alert alert-success text-center">
            <p style="display: inline-block; vertical-align: top; margin-bottom: 5px;margin-left:-10%;">찾은 아이디:</p>
            <div style="display: inline-block; flex-direction: column;">
                <div th:each="member : ${members}"
                     style="display: flex; flex-direction: column; margin-left:12%; font-size: 20px;">
                <span style="margin-bottom: 60px; margin-right:51%;">
                     <span th:text="${member.memberId}"></span>
                </span>
                    <div style="display: flex;  column; margin-top: -54px; margin-right:-15%;">
                        <span th:text="${#temporals.format(member.signUpDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <div>가입</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 인증 코드 불일치한 경우 -->
    <!-- 스타일써서 에러메시지 스타일 조정해놈-->
    <div th:if="${verificationCodeMismatch}" class="mt-4">
        <div class="row mt-3">
            <p class="alert alert-danger" style="background:white;border: none; text-align:center; color: black; width: 41%;margin-left: auto;margin-right: auto;">인증 코드가
                일치하지 않습니다.</p>
        </div>
    </div>
    <!-- 아이디를 찾지 못한 경우 -->
    <!-- 스타일써서 에러메시지 스타일 조정해놈-->
    <div th:if="${notFound}" class="mt-4">
        <div class="row mt-3">
            <p class="alert alert-warning" style="background:white;border: none; text-align:center; color: black; width: 41%;margin-left: auto;margin-right: auto;"
               th:text="${errorMessage}"></p>
        </div>
    </div>
</div>


<!-- 스크립트 실행 확인 및 메시지 보여주기 -->
<script th:if="${showConfirmationScript}" th:inline="javascript">
    console.log('스크립트 실행 확인');

    // 이메일로 전송되었습니다만 출력
    alert('인증번호가 이메일로 전송되었습니다.');
</script>
</body>
</html>
